:root {
    --primary-color: #009f4d;
    --white-color:#ffffff;
    --sub-title-color:#7e7d7d;
    --background-dark: #151421;
    --button-color: #00A63F;
}

[data-theme = "light"] {
    --text-color: #666666;
    --title-color: #3f3a64;
    --background-color: #ffffff;
    --bg-grey-color: #F7F7F7;
    --layer-color: rgba(29, 42, 55, 0.7);
    --border-color: transparent;
    --boder-color-light:#eee;
}

[data-theme = "dark"] {
    --text-color: #c2c2c2;
    --title-color: #eeeeee;
    --background-color: #151421;
    --bg-grey-color: #100F19;
    --layer-color: rgba(29, 42, 55, 0.8);
    --border-color: rgba(255, 255, 255, 0.2);
    --boder-color-light:rgba(255, 255, 255, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
}

a,ul {
    text-decoration: none;
    color: unset;
    list-style: none;
    margin: 0;
}

a:hover {
    text-decoration: none;
}

.button {
    padding: 15px 50px;
    border-radius: 10px;
    border: none;
    color: var(--white-color);
    background-color: var(--button-color);
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: capitalize;
    outline: none !important;
    border: 1px solid transparent;
    transition: all 0.3s;
}

.button:focus,
.button:hover {
    background-color: #008030;
    border-color: #00732c;
}
.button:focus {
    box-shadow: 0 0 0 3px rgb(38 179 92 / 50%);
}

.title {
    text-align: center;
    margin-bottom: 48px;
}

.title p {
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 4px;
    color:var(--sub-title-color);
}

.title h3 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--title-color);
    margin: 0;
}

.section {
    padding: 96px 0;
}