/*=================== Header =================*/
.header {
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
    /* height: 100px; */
    padding: 15px 0;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.header.openMenu {
    background-color: rgba(0, 0, 0, 0.5);
}

.header.active {
    background-color: var(--background-color);
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.05)
}

.header .navbar-brand {
    display: flex;
    order: -2;
}

.header__logo i {
    font-size: 3.2rem;
    color: var(--primary-color);
}

.header.active .header__brand {
    color: var(--title-color);
}

.header__brand {
    margin-left: 4px;
    transition: all 0.4s;
}

.header__brand h1 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.header__brand span {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.header .navbar-nav {
    margin: auto;
}

.header .nav-item {
    margin: 0 5px;
}

.header.active .nav-item .nav-link {
    color: var(--title-color);
}

.header.active .nav-item.show .nav-link,
.header.active .nav-item:hover .nav-link ,
.header.active .nav-item.active .nav-link {
    color: var(--title-color);
}

.header .nav-item .nav-link {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    opacity: 0.7;
    transition: all 0.4s;
}

.header .nav-item.show .nav-link,
.header .nav-item:hover .nav-link ,
.header .nav-item.active .nav-link{
    opacity: 1;
    color: var(--white-color);
}


.header .dropdown-toggle::after {
    display: none;
}

.header .dropdown-menu {
    background-color: var(--background-color);
    width: 190px;
    left: 50%;
    transform: translateX(-50%) translateY(4px);
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.header .dropdown-menu::before {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-width: 1px 0 0 1px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.header .dropdown-menu .dropdown-item {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 6px 20px;
    color: var(--title-color);
    opacity: 0.8;
    transition: all 0.2s;
}

.header .dropdown-item:focus,
.header .dropdown-item:hover {
    background-color: unset;
    opacity: 1;
}

.header__right {
    margin-left: auto;
}

.header .navbar-collapse.collapsing,
.header .navbar-collapse.show {
    text-align: center;
}

.header .navbar-toggler {
    margin-left: 16px;
    height: 34px;
    width: 34px;
    background-color: var(--primary-color);
}

.header .navbar-toggler i {
    color: white;
    font-size: 2rem;
    display: none;

}

.header .navbar-toggler:not([aria-expanded]) .bar-icon {
    display: block;
}

.header .navbar-toggler[aria-expanded] .close-icon{
    display: block;
}

.header .navbar-toggler.collapsed .close-icon{
    display: none;
}
.header .navbar-toggler.collapsed .bar-icon {
    display: block;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__search .search-icon {
    width: 45px;
    height: 45px;
    font-size: 1.6rem;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

.header__search.active .search-icon {
    color: transparent;
    transform: scale(60);
}

.header__theme {
    width: 30px;
    text-align: center;
    padding: 4px 4px;
    cursor: pointer;
    margin: 6px 0 0 12px;
}

.header__theme .sun-icon {
    font-size: 2.8rem;
    color: white;
    display: none;
}

.header__theme .moon-icon {
    font-size: 2.8rem;
    color: white;
}

.header.active .header__theme .moon-icon{
    color: var(--title-color);
}

.header__theme.dark .sun-icon {
    display: block;
}

.header__theme.dark .moon-icon {
    display: none;
}

/* search form */
.search__form {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.search__form .close-icon {
    position: absolute;
    top: 10%;
    right: 20%;
    font-size: 7rem;
    color: white;
    cursor: pointer;
}

.search__form input {
    font-size: min(10vw,5.4rem);
    background-color: unset;
    outline: none;
    border: none;
    color: white;
    height: 50vh;
    padding: 10vw;
}
.search__form input::placeholder {
    color: white;
}
/*=================== Carousel =================*/
.carousel-corp .carousel-item {
    height: 800px;
}
.carousel-corp .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-corp .carousel-item .carousel-caption {
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

.carousel-corp .carousel-caption h3 {
    font-size: 6.5rem;
    max-width: 800px;
    margin-bottom: 0.3em;
}

.carousel-corp .carousel-caption p {
    font-size: 2rem;
    max-width: 600px;
    margin-bottom: 1.7em;
    color: rgba(255, 255, 255, 0.7);
}

.carousel-corp .carousel-control-next,
.carousel-corp .carousel-control-prev {
    background: black;
    opacity: 1;
    left: unset;
    top: unset;
    bottom: 50px;
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.15);
    background-color: var(--background-color);
}

.carousel-corp .carousel-control-next {
    right: 25px;
}

.carousel-corp .carousel-control-prev {
    right: 95px;
}
.carousel-corp .carousel-control-next i,
.carousel-corp .carousel-control-prev i {
    color: var(--title-color);
}

.carousel-overlay {
    position: absolute;
    inset: 0;
    background-color: var(--layer-color);
}

.carousel-corp .carousel-shape {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.carousel-corp .carousel-shape svg {
    fill: var(--background-color)
}







/*=================== footer =================*/
.footer {
    background-color: var(--background-dark);

}

.footer__contact {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer__heading {
    max-width: 700px;
    margin: 0 auto;
}

.footer__heading h2{
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 24px;
}

.footer__heading p{
    font-size: 1.7rem;
    color: var(--white-color);
    opacity: 0.6;
    margin: 0;
}

.footer__form {
    display: flex;
    align-items: center;
    max-width: 550px;
    height: 58px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    margin: 44px auto 0;
}

.footer__form i {
    font-size: 16px;
    color: #999999;
    padding: 0 16px;
    height: 100%;
    line-height: 58px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    
}

.footer__form input {
    flex: 1;
    height: 100%;
    outline: none;
    font-weight: 300;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-left: none;
    border-right: none;
    color: #999;
    padding: 16px;
    word-break: break-all;
    overflow: hidden;
}

.footer__form input:focus {
    color: #111;
}

.footer__form button {
    padding: 0 25px;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.footer .divide {
    border-top : 1px solid rgba(249, 249, 249, 0.1);
}

.footer__link {
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer__item h3 {
    font-size: 2.2rem;
    color: var(--white-color);
    margin-bottom: 26px;
}

.footer__item p{
    color: #97a1a9;
    opacity: 0.8;
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.footer__item li {
    margin: 8px 0;
    color: #97a1a9;
    opacity: 0.8;
    font-size: 1.8rem;
}

.footer__item li a {
    color: #97a1a9;
    opacity: 0.8;
    font-size: 1.8rem;
    transition-property: color, opacity;
    transition-duration: 0.3s;
}

.footer__item li a:hover {
    color: var(--white-color);
    opacity: 1;
}

.footer__item .social-link {
    margin-top: 20px;
}

.footer__item .social-link a {
    margin-right: 16px;
}

.footer__item .social-link i {
    font-size: 1.6rem;
    color: #97a1a9;
    opacity: 0.8;
    transition-property: color, opacity;
    transition-duration: 0.3s;
}

.footer__item .social-link i:hover {
    color: var(--white-color);
    opacity: 1;
}


.footer__copyright p {
    font-size: 1.7rem;
    margin: 0;
    padding: 28px 0;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
    color: #7f8a94;
}


.footer__copyright a {
    color: var(--primary-color);
    transition: color 0.3s;
}

.footer__copyright a:hover {
    color: var(--white-color);
}

.footer__logo i {
    font-size: 3rem;
    color: var(--primary-color);
}

.footer .footer-brand {
    display: flex;
    margin-bottom: 16px;
}

.footer__brand {
    margin-left: 4px;
    color: var(--white-color);
}

.footer__brand h1 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
}

.footer__brand span {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
