body {
    background-color: var(--background-color);
}

/*=================== Header =================*/
.header {
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
    /* height: 100px; */
    padding: 15px 0;
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.header.openMenu {
    background-color: rgba(0, 0, 0, 0.5);
}

.header.active {
    background-color: var(--background-color);
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.05)
}

.header .navbar-brand {
    display: flex;
    order: -2;
}

.header__logo i {
    font-size: 3.2rem;
    color: var(--primary-color);
}

.header.active .header__brand {
    color: var(--title-color);
}

.header__brand {
    margin-left: 4px;
    transition: all 0.4s;
}

.header__brand h1 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.header__brand span {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.header .navbar-nav {
    margin: auto;
}

.header .nav-item {
    margin: 0 5px;
}

.header.active .nav-item .nav-link {
    color: var(--title-color);
}

.header.active .nav-item.show .nav-link,
.header.active .nav-item:hover .nav-link,
.header.active .nav-item.active .nav-link {
    color: var(--title-color);
}

.header .nav-item .nav-link {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white-color);
    opacity: 0.7;
    transition: all 0.4s;
}

.header .nav-item.show .nav-link,
.header .nav-item:hover .nav-link,
.header .nav-item.active .nav-link {
    opacity: 1;
    color: var(--white-color);
}


.header .dropdown-toggle::after {
    display: none;
}

.header .dropdown-menu {
    background-color: var(--background-color);
    width: 190px;
    left: 50%;
    margin: 0;
    transform: translateX(-50%) translateY(4px);
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.header .dropdown-menu::before {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-width: 1px 0 0 1px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.header .dropdown-menu .dropdown-item {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 6px 20px;
    color: var(--title-color);
    opacity: 0.8;
    transition: all 0.2s;
}

.header .dropdown-item:focus,
.header .dropdown-item:hover {
    background-color: unset;
    opacity: 1;
}

.header__right {
    margin-left: auto;
}

.header .navbar-collapse.collapsing,
.header .navbar-collapse.show {
    text-align: center;
}

.header .navbar-toggler {
    margin-left: 16px;
    height: 34px;
    width: 34px;
    background-color: var(--primary-color);
}

.header .navbar-toggler i {
    color: white;
    font-size: 2rem;
    display: none;

}

.header .navbar-toggler:not([aria-expanded]) .bar-icon {
    display: block;
}

.header .navbar-toggler[aria-expanded] .close-icon {
    display: block;
}

.header .navbar-toggler.collapsed .close-icon {
    display: none;
}

.header .navbar-toggler.collapsed .bar-icon {
    display: block;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__search .search-icon {
    width: 45px;
    height: 45px;
    font-size: 1.6rem;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

.header__search.active .search-icon {
    color: transparent;
    transform: scale(60);
}

.header__theme {
    width: 30px;
    text-align: center;
    padding: 4px 4px;
    cursor: pointer;
    margin: 6px 0 0 12px;
}

.header__theme .sun-icon {
    font-size: 2.8rem;
    color: white;
    display: none;
}

.header__theme .moon-icon {
    font-size: 2.8rem;
    color: white;
}

.header.active .header__theme .moon-icon {
    color: var(--title-color);
}

.header__theme.dark .sun-icon {
    display: block;
}

.header__theme.dark .moon-icon {
    display: none;
}

/* search form */
.search__form {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.search__form .close-icon {
    position: absolute;
    top: 10%;
    right: 20%;
    font-size: 7rem;
    color: white;
    cursor: pointer;
}

.search__form input {
    font-size: min(10vw, 5.4rem);
    background-color: unset;
    outline: none;
    border: none;
    color: white;
    height: 50vh;
    padding: 10vw;
    min-width: 250px;
}

.search__form input::placeholder {
    color: white;
}

/*=================== Carousel =================*/
.carousel-corp .carousel-item {
    height: 800px;
}

.carousel-corp .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-corp .carousel-item .carousel-caption {
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

.carousel-corp .carousel-caption h3 {
    font-size: 6.5rem;
    max-width: 800px;
    margin-bottom: 0.3em;
}

.carousel-corp .carousel-caption p {
    font-size: 2rem;
    max-width: 600px;
    margin-bottom: 1.7em;
    color: rgba(255, 255, 255, 0.7);
}

.carousel-corp .carousel-control-next,
.carousel-corp .carousel-control-prev {
    background: black;
    opacity: 1;
    left: unset;
    top: unset;
    bottom: 50px;
    z-index: 2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.15);
    background-color: var(--background-color);
}

.carousel-corp .carousel-control-next {
    right: 25px;
}

.carousel-corp .carousel-control-prev {
    right: 95px;
}

.carousel-corp .carousel-control-next i,
.carousel-corp .carousel-control-prev i {
    color: var(--title-color);
}

.carousel-overlay {
    position: absolute;
    inset: 0;
    background-color: var(--layer-color);
}

.carousel-corp .carousel-shape {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.carousel-corp .carousel-shape svg {
    fill: var(--background-color)
}

/*=================== About =================*/
.about img {
    border-radius: 10px;
    max-width: 100%;
}

.about .img-down {
    margin-top: 24px;
    border-radius: 10px;
    margin-bottom: 32px;
}

.about .title {
    font-size: 15px;
    font-weight: 600;
    color: var(--title-color);
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 0px !important;
    text-align: left;
}

.about .content {
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 400;
    opacity: 0.8;
    margin: 24px 0 32px;
}

.about li {
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}

.about li:not(:last-of-type) {
    margin-bottom: 15px;
}

.about li a {
    color: var(--title-color);
}

.about li i {
    color: var(--primary-color);
    opacity: 0.8;
    margin-right: 4px;
}

/*=================== feature =================*/
.feature {
    background-color: var(--bg-grey-color);
}

.feature .d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}
.feature .grids-1 {
    transition: all 0.5s;
}



.feature .box-wrap {
    padding: 40px 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow:  1px 1px 5px 0px rgb(0,0,0,5%);
    background-color: var(--background-color);
    width: 100%;
}

.feature .grids-1:hover {
    transform: translateY(-2%);
    box-shadow: 0px 5px 10px 0px rgb(0, 0, 0 ,15%),
    0px 5px 10px 0px rgb(75, 75, 75, 30%);
}

.feature .box-wrap a {
    color: var(--title-color);
    font-size: 22px;
    line-height: 22px;
    display: block;
    margin-top: 25px;
    transition: color 0.3s;
}

.feature .box-wrap a:hover {
    color: var(--primary-color);
}

.feature h4 {
    font-size: 14px;
    font-weight: 600;
    color: var(--sub-title-color);
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 0px !important;
    text-align: left;
}

.feature h2 {
    color: var(--title-color);
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}

.feature p {
    margin-top: 24px;
    margin-bottom: 48px;
    font-size: 17px;
    line-height: 27px;
    color: var(--text-color);
    opacity: .8;
}

.feature .icon img {
    width: 64px;
}

/*=================== servive =================*/
.service .grids5-info img {
    width: 100%;
    border-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.service .grids5-info .title {
    transform: translateY(-25px);
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    color: var(--title-color);
    text-align: center;
    background: var(--background-color);
    padding: 12px 35px;
    display: inline-block;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    margin-bottom: 0 !important;
    transition: 0.5s;
}

.service .grids5-info:hover .title {
    color: #33b271;
}

.service .text-para {
    font-size: 1.7rem;
    padding: 0 20px;
    color: var(--text-color);
}

.service button {
    padding: 8px 35px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    background-color: transparent;
    border: 3px solid transparent;
    outline: none;
    transition: 0.5s;
    border-radius: 10px;
    color: var(--title-color);
}

.service button:hover {
    color: #33b271;
}

.service button:focus {
    border: 3px solid rgb(0 166 63 / 25%)
}

/*=================== gallery =================*/
.gallery {
    background-color: var(--bg-grey-color);
    padding-top: 100px;
    padding-bottom: 100px;

}
.gallery .title {
    margin-bottom: 48px;
}

.gallery .title h4 {
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 0px !important;
    text-align: center;
}

.gallery .item {
    margin-bottom: 24px;
}

.gallery .item a {
    overflow: hidden;
    position: relative;
    display: block;
}

.gallery .item img {
    width: 101%;
    display: block;
    transition: all 0.3s;
}
.gallery .logo {
    padding-top: 24px;
}

.gallery .logo .col-lg-2 {
    margin-top: 24px;
}

.gallery .logo img {
    width: 100%;
    justify-content: center;
    padding: 0 18px 0;
}

.gallery .hover-content {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    padding: 46px 50px;
    /* z-index: 2; */
}

.gallery .hover-content h3 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #ffffff;
}
.gallery .hover-content span {
    font-size: 1.8rem;
    color: #eeeeee;
}

.gallery .item a:hover .hover-content {
    position: absolute;
    bottom: 0%;
    visibility: visible;
    opacity: 1;
}
.gallery .item a:hover img{
    transform: scale(1.1);
}

.gallery .hover-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--layer-color);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    padding-right: 15px;
    padding-left: 15px;
    /* z-index: 1; */
}

.gallery .item a:hover .hover-layout {
    opacity: 1;
    visibility: visible;
    overflow: hidden;

}
.gallery .divide {
    width: 100%;
    margin-top: 24px;
    border-top: 1px solid var(--border-color-light);
}

#about {
    scroll-behavior: smooth;
}

/*=================== skill =================*/
.skill .title {
    margin-bottom: 24px;
}

.skill .skill__img {
    height: auto;
}

.skill .skill__img img {
    height: 100%;
    border-radius: 8px;
}

.skill .skill__progress-group:not(:last-of-type) {
    margin-bottom: 30px;
}

.skill .skill__progress-group .skill__progress-title {
    display: flex;
    font-size: 1.8rem;
    color: var(--title-color);
    justify-content: space-between;
    width: calc(var(--progress-bar)*1%);
}

.skill .skill__progress .progress {
    position: relative;
    height: 4px;
    overflow: unset;
    background-color: var(--bg-grey-color);
    color: var(--bar-color);
}

.skill .skill__progress .progress::before,
.skill .skill__progress .progress::after {
    content: "";
    position: absolute;
    left: calc(var(--progress-bar)*1%);
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: block;
    border-radius: 50%;
}

.skill .skill__progress .progress::after {
    width: 13px;
    height: 13px;
    border: 3px solid var(--color);
    background-color: var(--background-color);
}

.skill .skill__progress .progress::before {
    width: 28px;
    height: 28px;
    border: 1px solid var(--color);
    opacity: 0.5;
}

.skill .skill__progress .progress-bar {
    width: calc(var(--progress-bar)*1%);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-image: var(--bar-color);
}

/*=================== feedback =================*/
.feedback {
    background-color: var(--bg-grey-color);
}

.feedback .owl-dots {
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.feedback .owl-dots button {
    outline: none;
    padding: 0 8px !important;
}

.feedback .owl-dots button span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #213364;
    opacity: 0.5;
    border-radius: 50%;
    transition: all 0.3s;
}

.feedback .owl-dots button:hover span,
.feedback .owl-dots button.active span {
    opacity: 1;
    transform: scale(1.5);
}

.feedback__slide {
    max-width: 800px;
    margin: 0 auto 50px;
}

.feedback__slide blockquote {
    font-size: 1.8rem;
    text-align: center;
    color: var(--text-color);
    padding: 20px;
    margin-bottom: 0;
}

.feedback_img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.feedback__author-desc h4 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--title-color);
}

.feedback__author-desc span {
    font-size: 1.7rem;
    color: var(--text-color);
}

/*=================== News =================*/
.news .card {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
    overflow: hidden;
}

.news .card .card-thumnail {
    overflow: hidden;
}

.news .card .card-img-top {
    border: none;
    border-radius: unset;
    width: 100%;
    transform-origin: center;
    transition: transform 0.3s;
}

.news .card .card-img-top:hover {
    transform: scale(1.2);
}

.news .card-body {
    padding: 20px;
}

.news .card-body .card-text {
    font-size: 1.7rem;
    color: #999999;
}

.news .card-body .card-text a:hover {
    color: #999999;
}

.news .card-body .card-title {
    font-size: 2rem;
    margin: 10px 0 0;
    color: var(--title-color);
}

.news .card-body .card-title a {
    transition: color 0.3s;
}

.news .divide {
    border-top: 1px solid var(--border-color-light);
}

.news .card-footer {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--background-color);
    color: #999999;
    border-top: none;
}

.news .card-footer img {
    border-radius: 50%;
}

.news .card-footer .card-author {
    font-size: 1.6rem;
    color: var(--title-color);
    transition: color 0.3s;
    margin-left: 4px;
}

.news .card-footer__right {
    margin-left: auto;
}

.news .card-footer .card-date {
    font-weight: 400;

}


.news .card-body .card-title a:hover,
.news .card-footer .card-author:hover {
    color: var(--primary-color);
}

.news .card-footer__left span {
    margin-left: 4px;
}

/*=================== footer =================*/
.footer {
    background-color: var(--background-dark);
}

.footer__contact {
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer__heading {
    max-width: 700px;
    margin: 0 auto;
}

.footer__heading h2 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 24px;
}

.footer__heading p {
    font-size: 1.7rem;
    color: var(--white-color);
    opacity: 0.6;
    margin: 0;
}

.footer__form {
    display: flex;
    align-items: center;
    max-width: 550px;
    height: 58px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    margin: 44px auto 0;
}

.footer__form i {
    font-size: 16px;
    color: #999999;
    padding: 0 16px;
    height: 100%;
    line-height: 58px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);

}

.footer__form input {
    flex: 1;
    height: 100%;
    outline: none;
    font-weight: 300;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-left: none;
    border-right: none;
    color: #999;
    padding: 16px;
    word-break: break-all;
    overflow: hidden;
}

.footer__form input:focus {
    color: #111;
}

.footer__form button {
    padding: 0 25px;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.footer .divide {
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.footer__item h3 {
    font-size: 2.2rem;
    color: var(--white-color);
    margin-bottom: 20px;
}

.footer__item p {
    color: #97a1a9;
    opacity: 0.8;
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.footer__item li {
    color: #97a1a9;
    opacity: 0.8;
    font-size: 1.8rem;
}

.footer__item li:not(:last-of-type) {
    margin-bottom: 8px;
}

.footer__item li a {
    color: #97a1a9;
    opacity: 0.8;
    font-size: 1.8rem;
    transition-property: color, opacity;
    transition-duration: 0.3s;
}

.footer__item li a:hover {
    color: var(--white-color);
    opacity: 1;
}

.footer__item .social-link {
    margin-top: 16px;
}

.footer__item .social-link a {
    margin-right: 16px;
}

.footer__item .social-link i {
    font-size: 1.6rem;
    color: #97a1a9;
    opacity: 0.8;
    transition-property: color, opacity;
    transition-duration: 0.3s;
}

.footer__item .social-link i:hover {
    color: var(--white-color);
    opacity: 1;
}

.footer__copyright p {
    font-size: 1.7rem;
    margin: 0;
    padding: 24px 0;
    color: #7f8a94;
}


.footer__copyright a {
    color: var(--primary-color);
    transition: color 0.3s;
}

.footer__copyright a:hover {
    color: var(--white-color);
}

.footer__logo{
    margin-right: 2%;
}

.footer__logo i {
    font-size: 3rem;
    color: var(--primary-color);
}

.footer .footer-brand {
    display: flex;
    margin-bottom: 24px;
}

.footer__brand {
    margin-left: 4px;
    color: var(--white-color);
}

.footer__brand h1 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
}

.footer__brand span {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}
/****************** back to top btn ******************/
.backToTop {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 2.4rem;
    color: white;
    line-height: 50px;
    background-color: var(--primary-color);
    box-shadow:  2px 2px 20px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
}

.backToTop:hover {
    opacity: 1 !important;
    color: white;
}
.backToTop.active {
    transform: translateY(0);
    visibility: visible;
    opacity: 0.8;
}