@media screen and (max-width: 1280px) {
    /*============= responsive cho carousel ================*/
    .carousel-corp .carousel-caption h3 {
        font-size: 5.5rem;
        max-width: 800px;
    }
}
@media screen and (max-width: 991.98px) {
    /*============= responsive cho header ================*/
        /*khi menu chưa mở thì phần header search phải ẩn đi*/
    .header .navbar-toggler:not([aria-expanded]) ~ .header__right,
    .header .navbar-toggler.collapsed ~ .header__right {
        display: none;
    }

    /* .header .navbar-collapse {
        padding-top: 20px;
    } */

    .header .header__right {
        order: -1;
    }

    .header__search i {
        width: 34px;
        height: 34px;
        line-height: 34px;
        font-size: 1.4rem;
        opacity: 1;
    }

    .header .dropdown-menu {
        position: relative;
        text-align: center;
        width: 100%;
    }
    /*============= responsive cho carousel ================*/
    .carousel-corp .carousel-caption h3 {
        font-size: 5rem;
    }
    .carousel-corp .carousel-item {
        height: 700px;
    }
    /*============= responsive cho skill ================*/
    .skill .col-12:not(:last-of-type) {
        margin-bottom: 48px;
    }
    /*============= responsive cho footer ================*/
    .footer .mb-5 {
        margin-bottom: 48px !important;
    }

    .footer__item h3 {
        font-size: 2rem;
    }
    /*============= responsive cho title ================*/
    .news .col-12:not(:last-of-type) {
        margin-bottom: 48px;
    }

    .title p {
        font-size: 1.4rem;
    }
    
    .title h3 {
        font-size: 3.2rem;
    }

    .title {
        margin-bottom: 40px;
    }

    .section {
        padding: 72px 0;
    }
    
}

@media screen and (max-width: 767.98px) {
    /*============= responsive cho carousel ================*/
    .carousel-corp .carousel-caption h3 {
        font-size: 4.5rem;
    }

    .carousel-corp .carousel-caption p {
        font-size: 1.8rem;
    }

    .carousel-corp .carousel-item {
        height: 650px;
    }

    /*============= responsive cho skill ================*/
    .skill .col-12:not(:last-of-type) {
        margin-bottom: 24px;
    }
    /*============= responsive cho title ================*/
    .section {
        padding: 56px 0;
    }

}

@media screen and (max-width: 575.98px) {
    /*============= responsive cho header ================*/
    .header__logo i,
    .header__brand h1 {
        font-size: 2.6rem;
    }

    .header__brand span {
        font-size: 1.3rem;
    }

    /*============= responsive cho carousel ================*/
    .carousel-corp .carousel-item .container {
        width: 100%;
    }

    .carousel-corp .carousel-caption h3 {
        font-size: 4rem;
    }
    
    .carousel-corp .carousel-caption p {
        font-size: 1.6rem;
    }

    .carousel-corp .carousel-item {
        height: 600px;
    }
    /*============= responsive cho footer ================*/
    .footer__heading h2{
        font-size: 3rem;
    }
    /*============= responsive cho title ================*/
    .title h3 {
        font-size: 3rem;
    }

    .title {
        margin-bottom: 24px;
    }

}

@media screen and (max-width: 415px) {
    /*============= responsive cho carousel ================*/
    .carousel-corp .carousel-caption h3 {
        font-size: 3.2rem;
    }

    .button {
        padding: 12px 30px;
    }

    .carousel-corp .carousel-item {
        height: 550px;
    }

    .footer__item p {
        font-size: 1.7rem;
    }

    .footer__item li {
        font-size: 1.7rem;
    }

    .footer__item li a {
        font-size: 1.7rem;
    }
    .footer__logo i,
    .footer__brand h1 {
        font-size: 2.6rem;
    }
    /*============= responsive cho title ================*/
    .title h3 {
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 375px) {
    /*============= responsive cho header ================*/
    .header .header__right {
        order: 0;
        display: none;
    }
    .header .navbar-collapse.collapsing ~ .header__right,
    .header .navbar-collapse.show ~ .header__right {
        display: flex;
    }
    /*============= responsive cho carousel ================*/
    .carousel-corp .carousel-caption h3 {
        font-size: 2.7rem;
    }
    /*============= responsive cho footer ================*/
    .footer__heading h2{
        font-size: 2.4rem;
    }

    .footer__form i  {
        padding: 0 12px;
    }

    /*============= responsive cho title ================*/
    .title h3 {
        font-size: 2.4rem;
    }

    .news .card-body .card-title {
        font-size: 1.8rem;
    }
}